<DxCard>
    <div class="card">
        @* <DxCardHeader>
            <h3 class="card-title"> Footer </h3>
        </DxCardHeader> *@
        <DxCardBody>
            <p> &copy; E-Student, All rights reserved.</p>
            <a href="#"> Privacy Policy </a> <a href="#"> | Terms of service</a>
        </DxCardBody>
    </div>
</DxCard>
