<DxCard>
    <div class="card">
        <DxCardBody>
            <p> &copy; E-Student, all rights reserved.</p>
            <a href="#"> Privacy policy </a> <a href="#"> | Terms of service</a>
        </DxCardBody>
    </div>
</DxCard>
