<style>
     .navbar {
        background-color: #c7b8a1;
     }
</style>

<DxMenu Orientation="Orientation.Horizontal"
        DisplayMode="MenuDisplayMode.Desktop"
        Title="NavBar Logo"
        CollapseItemToIconMode="MenuCollapseItemToIconMode.All"
        CollapseItemsToHamburgerMenu="true"
        CssClass="navbar">

    <TitleTemplate>
        <div class="icon-logo" role="img" aria-label="@context"></div>
    </TitleTemplate>

    <Items>
        <DxMenuItem Text="My Profile" title="My Profile" NavigateUrl="/loggedStudent" CssClass="notoggle" IconCssClass="menu-icon-user-profile menu-icon" Name="MyProfile" Position="ItemPosition.End" />
    </Items>

    <Items>
        <DxMenuItem Text="Log out" title="Log out" NavigateUrl="/login" CssClass="notoggle" IconCssClass="menu-icon-user-profile menu-icon" Name="LogOut" Position="ItemPosition.End" />
    </Items>
</DxMenu>
