@inject IStudentRepository StudentRepository

<style>
    .navbar {
        background-color: #c7b8a1;
    }
</style>

<DxMenu Orientation="Orientation.Horizontal"
        DisplayMode="MenuDisplayMode.Desktop"
        Title="E-student"
        CollapseItemToIconMode="MenuCollapseItemToIconMode.All"
        CollapseItemsToHamburgerMenu="true"
        CssClass="navbar">
    <Items>
        <DxMenuItem Text="Home" title="Home" NavigateUrl="/personal-profile" CssClass="notoggle" IconCssClass="menu-icon-home menu-icon">
        </DxMenuItem>
        <DxMenuItem Text="My profile" title="My profile" NavigateUrl="/profile" CssClass="notoggle" IconCssClass="menu-icon-user menu-icon">
        </DxMenuItem>
        <DxMenuItem Text="Courses" title="Courses" NavigateUrl="/courses" CssClass="notoggle" IconCssClass="menu-icon menu-icon">
        </DxMenuItem>
        <DxMenuItem CssClass="notoggle" Position="ItemPosition.End">
            <TextTemplate>
                <div class="menu-icon-user-profile menu-icon" />
            </TextTemplate>
            <SubMenuTemplate>
                <div class="w-100 user-profile">
                    <div class="flex-column align-items-center justify-content-center">
                        <div class="logo-container d-flex align-items-center justify-content-center">
                            <div class="menu-icon-user-profile menu-icon menu-icon-large" />
                        </div>
                        <div class="user-name-container bm-3 mb-2">
                            <div class="tm08 text-center"> Hello, @* @StudentRepository.GetCurrentUsersName *@ @* TODO:to be fixed *@  </div>
                            <div class="text-center"> User </div>
                        </div>
                        <div class="d-flex justify-content-center log-off-button">
                            <DxButton Text="Log out" RenderStyle="@ButtonRenderStyle.Secondary" NavigateUrl="/login"></DxButton>
                        </div>
                    </div>
                </div>
            </SubMenuTemplate>
        </DxMenuItem>
    </Items>
</DxMenu>