<style>

    .navbar {
        background-color: #CBC3E3;
    }
</style>

<DxMenu Orientation="Orientation.Horizontal"
        DisplayMode="MenuDisplayMode.Desktop"
        Title="NavBar Logo"
        CollapseItemToIconMode="MenuCollapseItemToIconMode.All"
        CollapseItemsToHamburgerMenu="true"
        CssClass="navbar">

    <TitleTemplate>
        <div class="icon-logo" role="img" aria-label="@context"></div>
    </TitleTemplate>

    <Items>
        <DxMenuItem Text="Home" IconCssClass="menu-icon-home menu-icon"/>

        @* <DxMenuItem Text="Students Grid" title="Students Grid" NavigateUrl="/studentpage" CssClass="notoggle" IconCssClass="menu-icon-user-profile menu-icon" Name="Students Grid" Position="ItemPosition.End"/> *@

        <DxMenuItem Text="Log in" title="Log in" NavigateUrl="/login" CssClass="notoggle" IconCssClass="menu-icon-user-profile menu-icon" Name="LogIn" Position="ItemPosition.End"/>
            
        <DxMenuItem Text="Register" title="Register" NavigateUrl="/register" CssClass="notoggle" IconCssClass="menu-icon-user-profile menu-icon" Name="Register" Position="ItemPosition.End"/>
    </Items>
</DxMenu>
